.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: monospace;
}

.App-logo {
  height: 6rem;
  width: auto;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  display: flex;
  justify-content: center;
  background: #515DA2;
  opacity: .8;
  height: 7rem;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

.room-list {
  margin: 0 0 0 32px;
  line-height: 1.5;
  list-style-type: none
}

.room-list-image {
  width: 30%;
  height: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


